<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PySiteMaker</title>
    <link rel="stylesheet" href="../test/test.css">
</head>
<body>
    <style>
        body {
            background-color: aqua;
            color: orange;
            font-family: sans-serif;
            font-size: 35px;
        }
        div {
            position: absolute;
            bottom: 50%;
            right: 7%;
        }
    </style>
    <div>
        Congratulation you have successfully installed PySiteMaker !
    </div>
</body>
</html>